
    .dashboard-body{
        display: flex;
    }
    .side-nav{
        width: 100%;
        /* background-color: #425390; */
        background-image: linear-gradient(
        to bottom, 
        #4EA7D0, #425390
        );
        height: 100vh;
        
    }
    .dashboard-contet{
        width: 100%;
        /* background-color: green; */
        background: #FDFDFF 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 100vh;
    }
    .logo-container{
        height: 60px;
        background: #0000001A 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 3px #0000000D;
        opacity: 1;
        justify-content: center;
        align-items: center;
        justify-self: center;
        opacity: 0.8;
    }
    .my-navbar{
        height: 60px !important;
    }
    .logo-img{
        /* justify-content: center; */
    }
    
  .list-group-item{
    background-color: inherit; 
    border: 0px;
    color: #fff;
    /* margin:20px 0px 0px 0px; */
    text-align: left;
    font: Regular 18px/27px Solomon Sans Normal;
    letter-spacing: 0;
    opacity: 1;
  }
  .top-navbar-search{
        height: 35px;
        border: none; 
        width: 320px;
        padding-left: 40px;
        font-size: 14px;
    }
    .search-container {
        display: flex;
        position: relative;
    }
    .fa-search-icon{
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 15px;
    }
    .header-right-content{
        background-color: orangered;
        width: 340px;
        display: flex;
        /* justify-content: space-between; */
    }
    .header-right-content-icons{
        width: 100%;
        background-color: blue;
    }
    .user-dropdown{
        width: 100%;
        background-color: black;
    }
    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px solid #6C7278;
        margin-top: 15px;
    } 
   
    .list-group-item.active {
      
        margin: 20px 0px 0px 20px;
        background-color:#FDFDFF;
        border-color: #fff;
        border-radius: 100px 0px 0px 100px;
        text-align: left;
        font: Regular 18px/27px Solomon Sans Normal;
        letter-spacing: 0;
        color: #4988B7;
        opacity: 1;
    }
    hr{
        border: 1px solid #ffffff;
      opacity: 0.3;

    }
    .right_nav_header{
        display: inline !important; 
        float: left; 
    }
    .right_nav_ul{
        display: flex; 
        justify-content:space-around;
        list-style-type:none;
    }
    .right_nav_wrapper{
        margin-top: 63px;
    }
    .nav-item{
        margin-left: 15px;
        margin-left: 15px;
    }
    .welcome{
        text-align: left;
        font: Regular 30px/43px Solomon Sans Book;
        letter-spacing: 0;
        color: #4D4F5C;
        opacity: 1;
    }
    .help{
        font: Regular 15px/21px Solomon Sans SemiBold;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        background: transparent linear-gradient(91deg, #4EA7D0 0%, #425390 100%) 0% 0% no-repeat padding-box;
        border-radius: 40px;
        opacity: 1;
    }
    .content{
        margin:20px 20px 0 0px;
        border-bottom: 1px solid #0000001A ;

    }
    .hrs{
        border: 1px solid #ffffff;
        margin-top: 10px;
    }
    .nav-tab{
        border-bottom: 1px solid #0000001A ;
        text-align: left;
        font: Regular 22px/31px Solomon Sans Light;
        letter-spacing: 0;
        color: #4D4F5C;
        opacity: 1;
    }
    .tab-active{
        text-align: left;
        font: Regular 22px/31px Solomon Sans normal;
        border-bottom: 2px solid #FF896A;
        letter-spacing: 0;
        color: #4D4F5C;
        opacity: 1;
    }
    .col-content{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        /*margin: 10px;*/
       border-radius: 10px;
       border:0px;
       padding:10px;
      
    }
    .das-plus{
    text-align: center;
    font: Regular 17px/22px Source Sans Pro;
    letter-spacing: 0;
    color: #4670A6;
    background: #F2F5FF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    }